.gpt3__whatgpt3
{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    background:var(--color-footer);
     
    background:-moz-radial-gradient(ellipse at 0% 0%, rgba(6, 14, 50, 1) 73%, rgba(2, 19, 99, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 0% 0%, rgba(6, 14, 50, 1) 73%, rgba(2, 19, 99, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 0% 0%, rgba(6, 14, 50, 1) 73%, rgba(2, 19, 99, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 0% 0%, rgba(6, 14, 50, 1) 73%, rgba(2, 19, 99, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 0% 0%, rgba(6, 14, 50, 1) 73%, rgba(2, 19, 99, 1) 100%);

}
.gpt3__whatgpt3-features{
    display: flex;
}   
.gpt3__whatgpt3-feature .gpt3__features-container__feature{
    margin: 0;
}
.gpt3__whatgpt3-feature .gpt3__features-container__feature-text{
    max-width: 700px;
}
.gpt3__whatgpt3-heading{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 4rem  0 2rem;

}
.gpt3__whatgpt3-heading h1{
    font-family: var(--font-family);
    font-size: 34px;
    line-height: 45px;
    max-width: 510px;
    font-weight: 800;
}
.gpt3__whatgpt3-heading p{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: hsl(9, 49%, 52%);
    cursor: pointer ;
}
.gpt3__whatgpt3-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}   
.gpt3__whatgpt3-container .gpt3__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 260px;
    display: unset;
    flex-direction: column;
}


/* Customizing feature component as per needs */
.gpt3__whatgpt3-container .gpt3__features-container_feature-text {
    margin-top: 0.5rem;
    flex:2;
    max-width: 250px;
}
.gpt3__whatgpt3-features .gpt3__features-container__feature-text{
    max-width: 70%;
}

@media screen and (max-width:500px) {
    .gpt3__whatgpt3-heading {
        margin: 2rem 7px 9px 1rem;   
    }
    .gpt3__whatgpt3-heading h1{
        font-size: 28px;
        line-height: 40px;
    }
}
@media screen and (max-width:300px) {
    .gpt3__whatgpt3-heading {
        margin: 2rem 7px 9px 1rem;   
    }
    .gpt3__whatgpt3-heading h1{
        font-size: 15px;
        line-height: 30px;
    }
    .gpt3__whatgpt3-container{
        margin-right: 2rem ;
    }
    .gpt3__whatgpt3-container .gpt3__features-container__feature {
        min-width: 150px;
    }
}
@media screen and (max-width:660px) {
    .gpt3__whatgpt3-features .gpt3__features-container__feature-title h1{
        font-size: 14px;
        line-height: 20px;
    }
}

