.gpt3__possibility{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end    ;
}
.gpt3__possibility-image{
    flex: 1;
}
.gpt3__possibility-image img{
    width: 100%;
    height: 70%;
}
.gpt3__possibility-container{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.gpt3__possibility-container h4{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 28px;
    color:var(--color-text);
    margin-bottom: 1rem;
}
.gpt3__possibility-container h4:last-child{
    color:hsl(9, 49%, 52%);
}
.gpt3__possibility-container h1{
    font-size: 34px;
    line-height: 40px;
    font-family: var(--font-family);
    font-weight: 800;
    margin-bottom: 1rem;
}
.gpt3__possibility-container p{
    color: rgb(56, 150, 245);
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 2rem;
}
@media screen and (max-width: 900px) {
    .gpt3__possibility{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .gpt3__possibility-container{
        margin-left: 0;
    }
    .gpt3__possibility-image{
        margin-bottom: 2rem;
    }
}




